* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.card-icon,
.footer-icon {
  width: 25px;
}

.wrapper,
.info {
  display: flex;
}

header::before,
footer {
  background-color: blue;
}

header {
  position: relative;
}

.diagonal-background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  background-color: blue;
  transform: skewY(-11deg);
  transform-origin: 0;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 50px;
}

.aboutme {
  background-color: white;
  width: fit-content;
  height: fit-content;
  align-self: center;
}

.aboutme > p,
.aboutme > h2 {
  max-width: 65ch;
  padding: 1em 1em 0 1em;
}

.aboutme > p {
  padding-bottom: 4em;
}

.aboutme > h2 {
  padding-left: 0.7em;
}

section {
  padding-top: 100px;
}

.wrapper-section {
  width: min(100% - 100px, 1400px);
  margin-inline: auto;
}

.card-group {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 350px), 1fr));
  gap: 50px;
}

footer {
  display: flex;
  margin-top: auto;
  gap: 25px;
  justify-content: center;
  padding: 25px 0;
}

.card-img {
  background-color: red;
  width: 100%;
  height: 250px;
  font-size: 2rem;
  align-content: center;
  text-align: center;
}
